%h1 Welcome to the Social Wiki
%p
  %em "Stack Overflow Meets Wikipedia"

= link_to 'Posts', controller: 'posts', action: 'index'
= link_to 'Subjects', subjects_path

- unless current_user
  = link_to 'Login', login_path
  = link_to 'Signup', signup_path
