/*
 * = require_self
 */

html, head, body { margin: 0; padding: 0; width: 100%; height: 100% }

body {
  display: flex;
  flex-flow: column;
}

header {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  background: #7100db;
  color: white;
  font-weight: 500;
  
  #logo {
    font-weight: 700;
  }
  
  .spacer {
    flex: 1;
  }

  * {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: inherit;
  }

  >* {
    padding: 1em;
  }

  a:hover {
    background: hsla(0, 0, 100, 0.2);
  }
}

// #body { }
