/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
div#wrapper{

}

header{
  display:block;
  padding:10px 10px 10px 10px;
}

.websiteLogo{
  text-decoration:none;
}

.websiteTitle{

  text-align:center;
  font-size: 50px;
  text-decoration:none;
  font-weight:bold;
  
}
.navBar{
background-size:50px 50px;
font-size: 12px;
float:right;
padding-right:5px;
 background-color: lightblue;
border: 5px solid lightblue;
border-radius:10px;
}

