#posts {
  margin: 0;
  padding: 0;
}

.post {
  display: inline-block;
  max-width: 30em;
  width: calc(100% - 2em);
  margin: 1em;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em 0.4em black;
  overflow: hidden;
  
  .title {
    margin: 0;
    padding: 0.2em 0.4em;
    background: #dfadf9;
    box-shadow: 0 -10em 0.1em 10em black;
  }
  
  .author {
    padding: 0.4em;
    text-align: right;
    color: hsl(0, 0, 40);
  }
  
  .contents {
    padding: 1em;
  }
}
